<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget ante ullamcorper, tincidunt lacus vitae, finibus velit. Maecenas hendrerit mi ut volutpat varius. Donec ut velit mollis, facilisis nibh ut, scelerisque erat. Vestibulum
                    vehicula quis lorem vitae tristique. Suspendisse laoreet ut purus at efficitur. Curabitur a tortor bibendum, laoreet dui vulputate, dapibus nunc. Vestibulum pharetra condimentum felis in malesuada. Ut id gravida tellus, a tristique
                    tortor. Aliquam tristique nunc neque, finibus porta nulla rutrum a. In eget odio luctus, ultricies mauris quis, porttitor nunc. Pellentesque fringilla ipsum et mi fringilla ultrices. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Pellentesque efficitur sit amet urna sed elementum.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget ante ullamcorper, tincidunt lacus vitae, finibus velit. Maecenas hendrerit mi ut volutpat varius. Donec ut velit mollis, facilisis nibh ut, scelerisque erat. Vestibulum
                    vehicula quis lorem vitae tristique. Suspendisse laoreet ut purus at efficitur. Curabitur a tortor bibendum, laoreet dui vulputate, dapibus nunc. Vestibulum pharetra condimentum felis in malesuada. Ut id gravida tellus, a tristique
                    tortor. Aliquam tristique nunc neque, finibus porta nulla rutrum a. In eget odio luctus, ultricies mauris quis, porttitor nunc. Pellentesque fringilla ipsum et mi fringilla ultrices. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Pellentesque efficitur sit amet urna sed elementum.</p>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget ante ullamcorper, tincidunt lacus vitae, finibus velit. Maecenas hendrerit mi ut volutpat varius. Donec ut velit mollis, facilisis nibh ut, scelerisque erat. Vestibulum
                    vehicula quis lorem vitae tristique. Suspendisse laoreet ut purus at efficitur. Curabitur a tortor bibendum, laoreet dui vulputate, dapibus nunc. Vestibulum pharetra condimentum felis in malesuada. Ut id gravida tellus, a tristique
                    tortor. Aliquam tristique nunc neque, finibus porta nulla rutrum a. In eget odio luctus, ultricies mauris quis, porttitor nunc. Pellentesque fringilla ipsum et mi fringilla ultrices. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Pellentesque efficitur sit amet urna sed elementum.</p>
            </div>
            <%- include('./partials/foot.ejs') %>
    </body>

</html>